<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Dark Mode Search</title>
    <link rel='stylesheet' href='/assets/styles/navbar.css' />
    <link rel='stylesheet' href='/assets/styles/login.css' />
    <script defer src='/assets/scripts/script.js'></script>
  </head>
  <body>
    <nav class='navbar'>
      <a href='#' class='nav-item'>News</a>
      <div class='nav-right'>
        <button class='nav-button' id='singUpButton'>Signup</button>
        <button class='nav-button' id='logInButton'>Login</button>
      </div>
    </nav>

    {{{body}}}
  </body>
</html>